body {
    background-color: lightgray;
}

nav {
    padding: 10px 10px;
    text-align: center;
    background-color: gray;
}

img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 35% 63%;
    grid-gap: 1em;
}

.kolonne1 {
    display: grid;
    grid-template-columns: 50% 65%;
    grid-gap: 1em;
}

.kolonne2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}

.kolonne3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}

.kontakt {
    display: grid;
    grid-template-rows: 16% 20% 37%;

}

.mail1 {
    background: url(Billeder/mail.svg);
    width: 7vh;
    height: 7vh;
    background-size: 7vh;
    position: relative;
    left: 200px;
    top: 100px;
}

.mail2 {
    position: relative;
    left: 280px;
    top: 50px;
    width: 16vh;
    height: 5vh;
}

.telefon1 {
    background: url(Billeder/telefonnummer.svg);
    width: 7vh;
    height: 7vh;
    background-size: 7vh;
    position: relative;
    left: 200px;
    top: 100px;
}

.telefon2 {
    position: relative;
    left: 280px;
    top: 50px;
}

.adresse1 {
    background: url(Billeder/Adresse.svg);
    width: 7vh;
    height: 7vh;
    background-size: 7vh;
    position: relative;
    left: 200px;
    top: 100px;
}

.adresse2 {
    position: relative;
    left: 280px;
    top: 50px;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0.5em;
        border: 10px;
    }
}
